node_modules/
build/
npm-debug.log*
.env

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
instance/
*.log

*.lock
dump/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

coverage/

logs
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln